.features {
  color: $c-f-white;

  .module__heading {
    text-align: center;
  }
  .module__content {
    @include flex(row);
    row-gap: 40px;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .feature {
    width: 360px;
    padding: 30px 20px;
    @include gradient-border-feature($c-bg-black, $m-z-index-1);
    @include regular-fs(base);

    &__icon {
      height: 45px;
      width: 45px;
      margin-bottom: 25px;
    
      * {
        min-height: 45px;
      }
    }
    .heading {
      margin-bottom: 20px;
      font-weight: 500;
    }
    p {
      font-weight: 300;
      line-height: 1.38;
    }
  }

  @media screen and (max-width: $bp-largest) {
    .module__content {
      justify-content: space-around;
    }
    .feature {
      width: 45%;
    }
  }
  @media screen and (max-width: $bp-smallfont) {
    .module__content {
      @include flex(column, $row-gap);
      flex-direction: column;
      row-gap: 25px;
    }

    .feature {
      width: 100%;
      @include flex(row, $column-gap);
      align-items: center;
      &__icon {
        flex-shrink: 0;
        display: flex;
        margin-bottom: 0px;
      }

      &__content {
        .heading {
          margin-bottom: 0px;
        }
      }
    }
  }
}
