.hero {
  .container {
    @include flex(row, unset);
    justify-content: space-between;

    .content-wrapper {
      @include flex(column);
      width: 55%;
    }

    .image-wrapper {
      @include contact-img-color;
      width: 380px;
      height: fit-content;
      @media screen and (max-width: 1080px) {
      right: -8vw;
      }
    }
  }
  @media screen and (max-width: $bp-tablet) {
    .container {
      @include flex(column, $row-gap--small);
      .image-wrapper {
        order: 1;
        max-width: 380px;
        width: 60%;
        margin-left: auto;
        @media screen and (max-width: 680px) {
          width: 250px;
          height: fit-content;
          max-width: 250px;  
        }
        img {
          transform: translateX(10%);
        }
      }
      .content-wrapper {
        order: 2;
        width: 100%;
        // row-gap: $row-gap--small;
      }
    }
  }
}
