.image-gallery {
  padding-bottom: 160px;

  .container {
    @include flex(row, unset);
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 25px;
    position: relative;

    .caption {
      display: none;
    }

    .close {
      display: none;
    }

    .single-img {
      width: 363px;
      height: 242px;
      object-fit: none;
    }
  }


//when lightbox active
.popped {
  overflow-y: hidden;

  .header {
    display: none;
  }

  .lightbox {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9;

    .caption {
      display: flex;
      color: $c-f-white;
      width: 80vw;
      max-width: 560px;
      margin-left: 5vw;
      font-size: 21px;
    }

    .close {
      display: flex;
      color: $c-f-red;
      font-size: 30px;
      //font-weight: 300; //Download needed
      top: 30px;
      right: 30px;
      position: fixed;
    }

    .single-img {
      width: 80vw;
      min-width: 320px;
      max-width: 1920px;
      height: auto;
      object-fit: none;
    }
  }

  @media screen and (max-width: $bp-tablet) {
    .container {
      @include flex(column, $row-gap--small);
      .image-wrapper {
        order: 1;
        max-width: 380px;
        width: 60vw;
        margin-left: auto;
        img {
          transform: translateX(10%);
        }
      }
    }
  }
}
}