.one-column {
   

    .container {
        max-width: 1140px;

        .text-box {
            max-width: 560px;
        }

        .text-box.zentriert {
            margin-left:  auto;
            margin-right:  auto;
        }
        
    }
}