.text-features {
  .feature {
    font-family: "Barlow Semi Condensed";
    padding: 3rem 1.5rem;
    display: flex;
    // justify-content: center;
    align-items: center;
    column-gap: $column-gap--big;
    position: relative;
    &__icon {
      width: 50px;
      img {
        border-radius: 0;
      }
    }
    &__content {
      width: 460px;
    }
    &:not(:last-child)::after {
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: yellow;
      background: $gradient-default;
    }
  }
  @media screen and (max-width: $bp-tablet) {
    .container {
      flex-direction: column;
      .module__heading {
        text-align: center;
      }
      & > * {
        width: 100%;
        padding: 0;
      }
    }

    .feature {
      width: 100%;
      @include flex(row, $column-gap);
      align-items: center;
      padding: 20px 0;
      &__icon {
        flex-shrink: 0;
        display: flex;
        margin-bottom: 0px;
      }
      &__content {
        .heading {
          margin-bottom: 0px;
        }
      }
    }
  }
}
