// font-size -- desktop -big/-normal/-small
$desk-h1: 92px;
$desk-h2: 72px;
$desk-h3: 56px;
$desk-h4: 44px;
$desk-h5: 36px;
$desk-p: 36px;
$smallest: 18px;


html {
  // This defines what 1rem is

}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; ;
  line-height: 1.5;
  font-weight: 300;
}

.module {
  &__heading {
    line-height: 1.2;
    margin-bottom: $row-gap;
  }

  strong {
    font-weight: 600;
  }
}

h1 {
  font-size: $desk-h1;
}

h2 {
font-size: $desk-h2;
}

h3 {

}

h4 {

}

