// Color Pallete
// background color-background-**
$c-bg-basic: #f6f6f6;
$c-bg-black: #000000;
// Font color color-font-**
$c-f-black: #3c3c3c;
$c-f-white: #fff;
$c-f-red:  #e05976; //#9d0022;

//CTAs
$sec-violett: #313decd6; //#002491; // #4784ff; //#009fff; // #00F; // #9a60c2;

.c-f-red {
  color: $c-f-red;
}

//CTAs
$sec-violett: #313decd6; //#002491; // #4784ff; //#009fff; // #00F; // #9a60c2;
