@mixin flex($dir, $gap: unset) {
  display: flex;
  flex-direction: $dir;
  @if $dir == column {
    row-gap: $gap;
  } @else if $dir == row {
    column-gap: $gap;
  }
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

