// defualt 12 column, each width: 73px
// defulat 12 column gap : 24px
$row-gap--small: 2rem;
$row-gap: 2.5rem; //40px
$row-gap--big: 3.5rem; //56px
$column-gap: 1.5rem;
$column-gap--big: 3rem;

$border-radius: 15px;

// Breakpoint
$bp-largest: 1250px;
$bp-tablet: 900px;
$bp-smallfont: 600px;
$bp-last: 400px;

// Z-index
// Modules
$m-z-index-default: 10; // .module
$m-z-index-1: $m-z-index-default + 1; //.feature
$m-z-index-2: $m-z-index-1 + 1;
$m-z-index-3: $m-z-index-2 + 1;
$m-z-index-4: $m-z-index-3 + 1;
$m-z-index-5: $m-z-index-4 + 1;
// Header/ overlay
$h-z-index-default: $m-z-index-default + 20;
$h-z-index-1: $h-z-index-default + 1;
$h-z-index-2: $h-z-index-1 + 1;
$h-z-index-3: $h-z-index-2 + 1;
$h-z-index-4: $h-z-index-3 + 1;
$h-z-index-5: $h-z-index-4 + 1;

// gradient
$gradient-default: linear-gradient(200deg, $c-f-red, $sec-violett);
