// Color Pallete
// background color-background-**
$c-bg-basic: #f6f6f6;
$c-bg-black: #000000;
// Font color color-font-**
$c-f-black: #3c3c3c;
$c-f-white: #fff;


//CTAs
$color-primary:  #FF9B00;
$color-secondary: #78BCAA;

//Subjects
$color-brand-design: #FA6963;
$color-3d: #B9CD58;

//Feedback
$color-error: #E53935;
$color-warning: #FFC107;
$color-sucess: #4CAF50;




// defualt 12 column, each width: 73px
// defulat 12 column gap : 24px
$row-gap--small: 2rem;
$row-gap: 2.5rem; //40px
$row-gap--big: 3.5rem; //56px
$column-gap: 1.5rem;
$column-gap--big: 3rem;

$border-radius: 15px;

// Breakpoint
$bp-largest: 1250px;
$bp-tablet: 900px;
$bp-smallfont: 600px;
$bp-last: 400px;